{% extends "base.html" %}

{% block title %}
    Новая публикация
{% endblock %}

{% block content %}
    <h2>Сделать новую публикацию</h2>
    <p>{{ error }}</p>
    <form method="post" action="/publish">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Название">
        <br><br>
        <textarea name="text" placeholder="Текст публикации"></textarea>
        <br><br>
        <input type="text" name="pass" placeholder="Пароль">
        <br><br>
        <button>Опубликовать</button>
    </form>
{% endblock %}